body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    font-size: xx-large;
    text-align: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#main {
    display: flex;
    height: 94vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    align-items: center;
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 50vw;
    height: 88vh;
    border: 10px solid #2d8f6e;
}

#buttons {
    display: flex;
    flex-direction: column;
    place-self: flex-start;
    margin-top: 8px;
    gap: 5px;
    margin-right: 10px;
}

button {
    background-color: #66ebbe;
    color: rgb(42, 61, 78);
    font-size: x-large;
    border: none;
    border-radius: 3px;
}